<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.lind.bookshop.mapper.OrderInfoMapper">
    <resultMap type="OrderInfo" id="lazyOrderInfo">
        <id column="id" jdbcType="BIGINT" property="id"/>

        <!--  select：要延迟加载的statement的id
              colunm：关联两张表的那个列的列名
             association：一对一的关系  -->
        <collection property="orderItemList"
                    ofType="OrderItem"
                    select="com.lind.bookshop.mapper.OrderItemMapper.findOrderItemList"
                    column="id">
        </collection>
    </resultMap>
    <select id="findOrderList" parameterType="long" resultType="OrderInfo" resultMap="lazyOrderInfo">
        SELECT * FROM order_info WHERE user_id =#{value}
    </select>
</mapper>