<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="layout/default">

<head>
    <title>跟着大叔学技术-通往架构师的路</title>
</head>
<body>
<th:block layout:fragment="title">跟着大叔学技术-通往架构师的路</th:block>
<div layout:fragment="content">
    <h2 data-source-line="1" id="框架技术点"><a class="markdownIt-Anchor" href="#框架技术点"></a>框架技术点</h2>
    <table data-source-line="2" class="table table-striped">
        <thead>
        <tr>
            <th>平台</th>
            <th>仓储</th>
            <th>ioc/aop</th>
            <th>redis</th>
            <th>mongodb</th>
            <th>日志收集</th>
            <th>缓存</th>
            <th>消息队列</th>
            <th>事件总线</th>
            <th>领域驱动</th>
            <th>分布式事务</th>
            <th>任务调度</th>
            <th>授权</th>
            <th>模块化</th>
            <th>服务发现</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>.net</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>-</td>
        </tr>
        <tr>
            <td>.net core</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
        </tr>
        <tr>
            <td>java</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
        </tr>
        </tbody>
    </table>
    <h2 data-source-line="8" id="各平台vip包含的内容"><a class="markdownIt-Anchor" href="#各平台vip包含的内容"></a>各平台vip包含的内容
    </h2>
    <table data-source-line="9" class="table table-striped">
        <thead>
        <tr>
            <th>平台</th>
            <th>源代码框架</th>
            <th>demo</th>
            <th>视频课</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>.net</td>
            <td>历年所有框架tfs</td>
            <td>所有</td>
            <td>40讲</td>
        </tr>
        <tr class="success">
            <td>.net core</td>
            <td>一套框架源码</td>
            <td>所有</td>
            <td>10讲</td>
        </tr>
        <tr>
            <td>java</td>
            <td>springboot</td>
            <td>所有</td>
            <td>无</td>
        </tr>
        </tbody>
    </table>
    <h2 data-source-line="15" id="vip学生能得到什么"><a class="markdownIt-Anchor" href="#vip学生能得到什么"></a>vip学生能得到什么</h2>
    <ul>
        <li>完善的DMEO体系</li>
        <li>技术永久免费升级</li>
        <li>源代码永久免费获取</li>
        <li>视频套装分享到云平台</li>
        <li>QQ群的及时响应</li>
    </ul>
    <h2>各大vip的价格</h2>
    <ul>
        <li>.net vip源码框架+40讲视频课+QQ群:3000元</li>
        <li>.net core vip源码框架+10讲视频+QQ群:2000元</li>
        <li>java vip技术指导+代码分享+QQ群:2000元</li>
        <li>全套vip：直减1000元=6000元</li>
    </ul>

</div>

</body>
</html>