<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="layout/default">

<head>
    <title>程序员直通车</title>

</head>
<body>
<th:block layout:fragment="title">程序员直通车</th:block>

<div layout:fragment="content">
    <div style="border:1px dashed #ddd;padding:5px;" class="list-group" th:each="collect,iterStat : ${books}">
        <h4 class="list-group-item-heading">名称：<span th:text="${collect.name}"></span></h4>
        <p class="list-group-item-text">价格：<span th:text="${collect.salePrice}"></span></p>
        <p class="list-group-item-text">折扣：<span th:text="${collect.discountInfo()}"></span></p>
        <img width="128" height="64" th:src="${collect.imgRelativeUrl()}"/>
        <a th:href="@{/order/doPost(productId=${collect.id})}">购买</a>
    </div>
    <link href="http://vjs.zencdn.net/5.0.2/video-js.css" rel="stylesheet"/>
    <script src="http://vjs.zencdn.net/ie8/1.1.0/videojs-ie8.min.js"></script>
    <script src="http://vjs.zencdn.net/5.0.2/video.js"></script>


    <div th:each="video,iterStat : ${videos}">
        <h3 th:text="${video.title}"></h3>
        <p th:text="${video.information}"></p>
        <video id="example_video_1" class="video-js vjs-default-skin" controls="1" preload="none" width="320"
               height="240"
               poster="http://vjs.zencdn.net/v/oceans.png" data-setup="{}">
            <source th:src="${video.filePath}" type="video/mp4"/>
        </video>
    </div>
</div>
</body>
</html>